<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResgisterServlet</servlet-name>
        <servlet-class>controller.ResgisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RentalServlet</servlet-name>
        <servlet-class>controller.RentalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotServlet</servlet-name>
        <servlet-class>controller.ForgotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InstructionServlet</servlet-name>
        <servlet-class>controller.InstructionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostServlet</servlet-name>
        <servlet-class>controller.PostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeInfoServlet</servlet-name>
        <servlet-class>controller.ChangeInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindRental</servlet-name>
        <servlet-class>controller.FindRentalServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
        <url-pattern/>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResgisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RentalServlet</servlet-name>
        <url-pattern>/rental</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotServlet</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InstructionServlet</servlet-name>
        <url-pattern>/instruction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostServlet</servlet-name>
        <url-pattern>/post</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeInfoServlet</servlet-name>
        <url-pattern>/changeInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindRental</servlet-name>
        <url-pattern>/find</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
    <welcome-file-list>
        <!--<welcome-file>faces/index.xhtml</welcome-file>-->
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
